/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "baskerville";
  src: url("/font/baskerville.woff2") format("woff2");
}

@font-face {
  font-family: "robotto";
  src: url("/font/robotto.woff2") format("woff2");
}

@font-face {
  font-family: "robottoBlack";
  src: url("/font/robottoBlack.woff2") format("woff2");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  & .container {
    width: 1200px;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;
  }
}
